html {
  --color-bg: #1c3740;
  --color-fg: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  background-color: var(--color-bg);
  text-align: center;
  color: var(--color-fg);
}

a {
  color: var(--color-fg);
}

.main {
  padding: 1rem;
}

h1 {
  font-size: 3.5rem;
  margin-block: 0.5rem;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  background-color: var(--color-bg);
}

.btn:hover {
  filter: brightness(1.1);
}

.input {
  width: 100%;
}

.output-list {
  text-align: left;
}

.feedback {
  text-align: left;
  font-size: 0.8rem;
  color: crimson;
  margin: 0;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-inline: 1rem;
  padding-top: 1rem;
}

.link-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
